.standings {
  background-color: #fff;
  width: 100%;
  padding: 24px;
  border-radius: 30px;

  table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    width: 100%;

    thead {
      border-bottom: 2px solid #E9E9EF;
    }

    tr {
      border-radius: 14px;

      &:nth-child(even):not(:first-child) {
        background: #F5F7FF;
      }

      th,
      td {
        padding: 14px;
        padding: 13px 23px;
        text-align: center;
        font-family: 'Gilroy-Medium';
        font-weight: 400;

        &:first-child {
          font-family: 'Gilroy-SemiBold';
          text-align: left;
        }
      }

      th:not(:first-child) {
        color: #A8ADB7;
      }

      td {
        position: relative;

        .tShirt {
          margin: 0 15px;
        }

        &:not(:first-child) {
          font-size: 14px;
        }

        &:nth-last-child(2) {
          border-left: 2px solid #E9E9EF;
        }

        .current {
          left: 5px;
          top: calc(50% + 2px);
          font-size: 12px;
          color: #fff;
          position: absolute;
          z-index: 2;
        }

        .max {
          right: 5px;
          top: calc(50% + 2px);
          font-size: 12px;
          color: #fff;
          position: absolute;
        }
      }

      td:first-child {
        border-radius: 10px 0 0 10px;
      }

      td:last-child {
        border-radius: 0 10px 10px 0;
      }
    }
  }
}