.header {
  background-color: #fff;
  padding: 25px 0;
  .inner {
    .wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1170px;
      margin: 0 auto;
      nav {
        display: flex;
        justify-content: center;
        ul {
          display: flex;
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            padding: 10px;
            margin: 0 5px;
            &.active {
              font-family: 'Gilroy-Bold';
              text-decoration: underline;
              text-decoration-color: #2F5DFF;
            }
          }
        }
      }
      .citiesDropdown {
        position: relative;
        padding-right: 23px;
        cursor: pointer;
        user-select: none;
        .selectedCity {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 5px;
            right: -20px;
            width: 5px;
            height: 5px;
            transform: rotate(45deg);
            border-bottom: 1px solid black;
            border-right: 1px solid black;
          }
          &.active {
            &::after {
              top: 8px;
              border-bottom: 0;
              border-right: 0;
              border-top: 1px solid black;
              border-left: 1px solid black;
            }
          }
        }
        ul {
          position: absolute;
          top: 30px;
          left: 50%;
          transform: translateX(-50%);
          margin: 0;
          padding: 4px 6px;
          list-style-type: none;
          background-color: #fff;
          border: 1px solid #535353;
          border-radius: 8px;
          overflow: hidden;
          z-index: 5;
          animation: citiesDropdownAnimation 0.5s;
          @keyframes citiesDropdownAnimation {
            0%{
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
          li {
            border-radius: 8px;
            padding: 7px 10px;
            width: 130px;
            &.activeLink {
              font-weight: 600;
              background-color: #F5F7FF;
            }
            a {
              color: #535353;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}