.gallery {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;

  .swiperGallery {

    // .swiper-button-next {
    //   right: var(--swiper-navigation-sides-offset,2px);
    // }
    // .swiper-button-prev {
    //   left: var(--swiper-navigation-sides-offset,2px);
    // }

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide {
      border-radius: 8px;
      // width: 340px !important;
      background-color: transparent;
      transition: .3s;
      img {
        background-color: #fff;
        padding: 10px;
        display: block;
        // height: 200px;
        border-radius: 8px;
        width: 320px !important;
        object-fit: cover;
      }
      &.swiper-slide-active {
        transition: .3s;
        // transform: scale(1.5);
        img {
          // transform: scale(1.2);
          width: 380px !important;
        }
      }
    }
  }
}