h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
}

.left {
  width: 66%;
  box-sizing: border-box;
}
.right {
  margin-left: 30px;
  width: calc(34% - 30px);
  box-sizing: border-box;
}